In [1]:
import pandas as pd

In [2]:
companies = pd.read_csv("C:\\Users\\HP\\Desktop\\L3\\remedial\\Spark Funds Industrial Assignment - 1\\companies.txt" , 
                        sep='\t', encoding= "ISO-8859-1")

In [271]:
companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [4]:
companies[(companies["name"] == "Blink")]

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
7449,/Organization/Blink,Blink,http://www.blink.la,Content|Journalism|Location Based Services|Med...,operating,USA,NY,New York City,New York,01-01-2013
7450,/Organization/Blink-4,Blink,http://www.blinnnk.com/,Software,operating,JPN,18,JPN - Other,China,01-01-2014
7451,/Organization/Blink-7,Blink,http://blinkforhome.com,Electronics,operating,USA,MA,Boston,Boston,NaN
7452,/Organization/Blink-9,Blink,http://www.flyblink.com/,Location Based Services|Service Providers,operating,GBR,N7,Camberley,Camberley,NaN

In [5]:
companies.isnull().sum()

permalink            0
name                 1
homepage_url      5058
category_list     3148
status               0
country_code      6958
state_code        8547
region            8030
city              8028
founded_at       15221
dtype: int64

In [6]:
companies["name"].value_counts()

Blink                                            4
Peach                                            4
Spire                                            4
Roost                                            4
Karma                                            4
                                                ..
Game Time Giving, Inc                            1
Game Time Tickets                                1
Game Trading technologies, Inc.                  1
Game Trust                                       1
Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic    1
Name: name, Length: 66102, dtype: int64

In [7]:
companies.nunique()

permalink        66368
name             66102
homepage_url     61191
category_list    27296
status               4
country_code       137
state_code         311
region            1092
city              5111
founded_at        3978
dtype: int64

In [8]:
round2 = pd.read_csv("C:\\Users\HP\\Desktop\\L3\\remedial\\Spark Funds Industrial Assignment - 1\\rounds2.csv", 
                 encoding= "ISO-8859-1")
round2

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
...,...,...,...,...,...,...
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/organization/ãeron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/ORGANIZATION/ÃASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [9]:
round2.rename(columns={"company_permalink":"permalink"}, inplace=True)

In [10]:
round2.isnull().mean()*100

permalink                   0.000000
funding_round_permalink     0.000000
funding_round_type          0.000000
funding_round_code         72.909725
funded_at                   0.000000
raised_amount_usd          17.390321
dtype: float64

In [11]:
round2.nunique()[0]

90247

In [12]:
# getting a copy of companies data
comp = companies.copy()

In [13]:
# getting a copy of round2 data
r2 = round2.copy()

In [14]:
# removing special character present in companies
comp['permalink'] = comp['permalink'].str.replace('[^a-zA-Z0-9\s]', '')

C:\Users\HP\AppData\Local\Temp/ipykernel_32632/4243429802.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  comp['permalink'] = comp['permalink'].str.replace('[^a-zA-Z0-9\s]', '')

In [15]:
# removing special character present in companies
r2['permalink'] = r2['permalink'].str.replace('[^a-zA-Z0-9\s]', '')

C:\Users\HP\AppData\Local\Temp/ipykernel_32632/1921705648.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  r2['permalink'] = r2['permalink'].str.replace('[^a-zA-Z0-9\s]', '')

In [16]:
# changing the character of permalink present in companies and round2 dataset to lower case
comp['permalink'] = comp['permalink'].str.lower()
r2['permalink'] = r2['permalink'].str.lower()

In [17]:
comp.head(1)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,organizationfame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN

In [18]:
r2.head(1)

,permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,organizationfame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0

In [19]:
# merging round2 and companies
df = pd.merge(r2,comp, on="permalink")
df.head(1)

,permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,organizationfame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN

# Checkpoint 1 : Data Cleaning 1

# Table 1.1

# How many unique companies are present in rounds2?

In [20]:
# Extracting premalink and name feature from merged dataframe and checking for nan values
df1 = df[["permalink","name"]]
df1.isnull().sum()

permalink    0
name         1
dtype: int64

In [21]:
# Due to a single nan value present in name column dropping that
df1.dropna(inplace=True)

C:\Users\HP\anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [22]:
df1.nunique()[1]

66102

#### Unique Companies present in round2 is 66102

# How many unique companies are present in companies?

In [23]:
# Extracting premalink and name feature from companies dataframe

In [24]:
df2 = companies[["permalink","name"]]

In [25]:
# Due to a single nan value present in name column dropping that
df2.dropna(inplace=True)

In [26]:
# After drop checking for nan
df2.isnull().sum()

permalink    0
name         0
dtype: int64

In [27]:
df2.nunique()[1]

66102

#### Unique Companies present in companies is 66102

# In the companies data frame, which column can be used as the unique key for each company? Write the name of the column.

In [28]:
companies.nunique()

permalink        66368
name             66102
homepage_url     61191
category_list    27296
status               4
country_code       137
state_code         311
region            1092
city              5111
founded_at        3978
dtype: int64

#### In the companies data frame, "company_permalink" can be used as the unique key for each company

# Are there any companies in the rounds2 file which are not  present in companies ? Answer Y/N.

In [29]:
df.nunique()

permalink                   66290
funding_round_permalink    114949
funding_round_type             14
funding_round_code              8
funded_at                    5033
raised_amount_usd           22095
name                        66102
homepage_url                61191
category_list               27296
status                          4
country_code                  137
state_code                    311
region                       1092
city                         5111
founded_at                   3978
dtype: int64

In [30]:
df.head()

,permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,organizationfame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,organizationqounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,organizationqounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,organizationtheoneoftheminc,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,organization06com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007

In [31]:
companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

#### No, There are no any companies in the round2 file which are not present in companies.

# Merge the two data frames so that all  variables (columns)  in the companies frame are added to the rounds2 data frame. Name the merged frame master_frame. How many observations are present in master_frame ?

In [32]:
master_frame =  pd.merge(comp,r2, on="permalink")
master_frame.shape[0]

115200

#### After merging two data frames there are 115200 observations are present in maste_frame

# Checkpoint 2 : Funding Type Analysis

In [33]:
master_frame.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,organizationfame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,organizationqounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,organizationqounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,organizationtheoneoftheminc,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,organization06com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [34]:
master_frame.isnull().mean()

permalink                  0.000000
name                       0.000009
homepage_url               0.053490
category_list              0.029748
status                     0.000000
country_code               0.075538
state_code                 0.095295
region                     0.088524
city                       0.088498
founded_at                 0.178689
funding_round_permalink    0.000000
funding_round_type         0.000000
funding_round_code         0.729019
funded_at                  0.000000
raised_amount_usd          0.173880
dtype: float64

In [35]:
master_frame["funding_round_type"].value_counts()

venture                  55618
seed                     30606
debt_financing            6903
angel                     6104
undisclosed               4904
equity_crowdfunding       3263
private_equity            2287
grant                     2204
convertible_note          1823
post_ipo_equity            638
product_crowdfunding       412
non_equity_assistance      191
post_ipo_debt              152
secondary_market            95
Name: funding_round_type, dtype: int64

In [36]:
#########################################################################################

In [37]:
master_frame["raised_amount_usd"] = master_frame["raised_amount_usd"].dropna()

In [38]:
master_frame

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,organizationfame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,organizationqounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,organizationqounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,organizationtheoneoftheminc,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,organization06com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115195,organizationzzzzappcom,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
115196,organizationzzzzappcom,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
115197,organizationeron,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
115198,organizationasys2,Ãasys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
115199,organizationnovatiffreklamvetantmhizmetleritic,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

# Average funding amount of venture type

In [39]:
master_frame.drop(columns=["funding_round_code","status","state_code","region","city","founded_at",
                           "funding_round_code","funded_at"],axis=1,inplace=True)

In [40]:
master_frame.head()

,permalink,name,homepage_url,category_list,country_code,funding_round_permalink,funding_round_type,raised_amount_usd
0,organizationfame,#fame,http://livfame.com,Media,IND,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,10000000.0
1,organizationqounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,USA,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,NaN
2,organizationqounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,USA,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,700000.0
3,organizationtheoneoftheminc,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,NaN,/funding-round/650b8f704416801069bb178a1418776b,venture,3406878.0
4,organization06com,0-6.com,http://www.0-6.com,Curated Web,CHN,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,2000000.0

In [41]:
master_frame.drop(columns=["homepage_url"],axis=1,inplace=True)

In [42]:
master_frame.isnull().sum()

permalink                      0
name                           1
category_list               3427
country_code                8702
funding_round_permalink        0
funding_round_type             0
raised_amount_usd          20031
dtype: int64

In [44]:
master_frame["category_list"] = master_frame["category_list"].dropna()

In [45]:
master_frame["country_code"] = master_frame["country_code"].dropna()

In [46]:
master_frame.dropna(inplace=True)

In [47]:
master_frame.isnull().sum()

permalink                  0
name                       0
category_list              0
country_code               0
funding_round_permalink    0
funding_round_type         0
raised_amount_usd          0
dtype: int64

# Average funding amount of venture type

In [48]:
venture = master_frame[(master_frame["funding_round_type"]=="venture")]

In [49]:
round(venture["raised_amount_usd"].mean(),2)

11728248.37

### Venture = 11.72 Million USD

# Average funding amount of angel type

In [50]:
angel = master_frame[(master_frame["funding_round_type"]=="angel")]

In [51]:
round(angel["raised_amount_usd"].mean(),2)

970589.61

### Angel = 0.97 Million USD

# Average funding amount of seed type

In [52]:
seed = master_frame[(master_frame["funding_round_type"]=="seed")]

In [53]:
round(seed["raised_amount_usd"].mean(),2)

747916.88

### Seed = 0.74 Million USD

# Average funding amount of private equity type

In [63]:
private_equity = master_frame[(master_frame["funding_round_type"]=="private_equity")]

In [64]:
round(private_equity["raised_amount_usd"].mean(),2)

73244084.68

### Private equity = 73.24 Million USD

# Considering that Spark Funds wants to invest between 5 to 15 million USD per  investment round, which investment type is the most suitable for them?

#### Considering that Spark Funds wants to invest between 5 to 15 million USD per investment round, so venture type ismost suitable for them beacause investment round is 10.63 million USD which meets the Sparx Funds Criteria

# Checkpoint 3: Country Analysis

### 1. Spark Funds wants to see the top nine countries which have received the highest total funding (across ALL sectors for the chosen investment type)

In [62]:
venture.groupby(by="country_code")["raised_amount_usd"].sum().sort_values(ascending=False).apply(lambda x: '{:.1f}'.format(x)).to_frame().reset_index()

   country_code raised_amount_usd
0           USA    420844252957.0
1           CHN     39338918773.0
2           GBR     20177983004.0
3           IND     14306468105.0
4           CAN      9496661165.0
..          ...               ...
93          MCO          657000.0
94          SAU          500000.0
95          CMR          359561.0
96          GTM          300000.0
97          MMR          200000.0

[98 rows x 2 columns]

### 2. For the chosen investment type, make a data frame named top9 with the top nine countries (based on the total investment amount each country has received)

In [94]:
top9 = venture.groupby(by="country_code")["raised_amount_usd"].sum().sort_values(ascending=False).apply(lambda x: '{:.1f}'.format(x)).to_frame().reset_index().head(9)
top9

  country_code raised_amount_usd
0          USA    420844252957.0
1          CHN     39338918773.0
2          GBR     20177983004.0
3          IND     14306468105.0
4          CAN      9496661165.0
5          FRA      7226851352.0
6          ISR      6854350477.0
7          DEU      6306921981.0
8          JPN      3173647127.0

# Table 3.1: Analysing the Top 3 English-Speaking Countrie

In [66]:
url = "https://en.wikipedia.org/wiki/List_of_countries_and_territories_where_English_is_an_official_language"

In [67]:
eng = pd.read_html(url, header=0)

In [68]:
ce = eng[0]

In [69]:
ge = eng[1]

In [70]:
merged_df = pd.merge(ce, ge, how='outer')

In [74]:
merged_df.head(pd.merge(ce, ge, how='outer'))

,Country,ISO code,Geographic region,Population1,Primary language?
0,Antigua and Barbuda,ATG,Caribbean,85000,Yes (English-based creole language)
1,The Bahamas[1],BHS,Caribbean,331000,Yes (English-based creole language)
2,Barbados[2],BRB,Caribbean,294000,Yes (English-based creole language)
3,Belize[3],BLZ,Central America,288000,Yes (English-based creole language)
4,Botswana[3],BWA,Africa,1882000,Yes

In [96]:
top9.rename(columns={"country_code":"ISO code"}, inplace=True)

In [191]:
master_frame.rename(columns={"country_code":"ISO code"}, inplace=True)
code = pd.merge(master_frame,merged_df, on="ISO code",how="inner")

In [192]:
code.head()

,permalink,name,category_list,ISO code,funding_round_permalink,funding_round_type,raised_amount_usd,Country,Geographic region,Population1,Primary language?
0,organizationfame,#fame,Media,IND,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,10000000.0,India[3][6],Asia,1393500000,No (but official and educational)
1,organization21diamondsindia,21Diamonds,E-Commerce,IND,/funding-round/6de7ffef8091ba9f33821f4b861f434a,venture,6369507.0,India[3][6],Asia,1393500000,No (but official and educational)
2,organization247learningprivate,24x7 Learning,EdTech,IND,/funding-round/4cd5cd165bc869bc40705a9e4b626bee,venture,4000000.0,India[3][6],Asia,1393500000,No (but official and educational)
3,organization33coupons,33Coupons,Internet,IND,/funding-round/fc7f4eba112e0df25e9a56b037657820,angel,20000.0,India[3][6],Asia,1393500000,No (but official and educational)
4,organization3dsoc,3DSoC,3D,IND,/funding-round/bbedf1410fddeed341018583bbd0ca1e,venture,1240000.0,India[3][6],Asia,1393500000,No (but official and educational)

In [97]:
english = pd.merge(top9, merged_df,how="inner", on="ISO code" )
english

,ISO code,raised_amount_usd,Country,Geographic region,Population1,Primary language?
0,USA,420844252957.0,United States,North America,328239523,Yes
1,GBR,20177983004.0,United Kingdom,Europe,66040229,Yes
2,IND,14306468105.0,India[3][6],Asia,1393500000,No (but official and educational)
3,CAN,9496661165.0,Canada,North America,38048738,"Yes (Co-official with French, and a predominan..."

In [111]:
top3eng = english[english['Primary language?'].str.startswith('Yes')].head(3).reset_index()
top3eng

,index,ISO code,raised_amount_usd,Country,Geographic region,Population1,Primary language?
0,0,USA,420844252957.0,United States,North America,328239523,Yes
1,1,GBR,20177983004.0,United Kingdom,Europe,66040229,Yes
2,3,CAN,9496661165.0,Canada,North America,38048738,"Yes (Co-official with French, and a predominan..."

# 1. Top English-speaking country

In [115]:
print("Top English-speaking country is : ",top3eng["Country"][0])

Top English-speaking country is :  United States

### United States

# 2. Second English-speaking country

In [116]:
print("Top English-speaking country is : ",top3eng["Country"][1])

Top English-speaking country is :  United Kingdom

### United Kingdom

# 3. Third English-speaking country

In [117]:
print("Top English-speaking country is : ",top3eng["Country"][2])

Top English-speaking country is :  Canada

### Canada

# Checkpoint 4: Sector Analysis 1

In [142]:
# reading mapping.csv
m = pd.read_csv("C:\\Users\\HP\Desktop\\L3\\remedial\\Spark Funds Industrial Assignment - 1\\mapping.csv")
m.head()

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,NaN,0,1,0,0,0,0,0,0,0
1,3D,0,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,0,1

### 1. Extract the primary sector of each category list from the category_list colum

In [143]:
m["category_list"].unique()

array([nan, '3D', '3D Printing', '3D Technology', 'Accounting',
       'Active Lifestyle', 'Ad Targeting', 'Advanced Materials',
       'Adventure Travel', 'Advertising', 'Advertising Exchanges',
       'Advertising Networks', 'Advertising Platforms', 'Advice',
       'Aerospace', 'Agriculture', 'Air Pollution Control', 'Algorithms',
       'All Markets', 'All Students', 'Alter0tive Medicine', 'Alumni',
       'A0lytics', 'Android', 'Angels', 'Animal Feed',
       'Anything Capital Intensive', 'App Discovery', 'App Marketing',
       'App Stores', 'Application Performance Monitoring',
       'Application Platforms', 'Apps', 'Aquaculture', 'Architecture',
       'Archiving', 'Art', 'Artificial Intelligence', 'Artists Globally',
       'Assisitive Technology', 'Assisted Living', 'Auctions', 'Audio',
       'Audiobooks', 'Augmented Reality', 'Auto', 'Automated Kiosk',
       'Automotive', 'B2B', 'B2B Express Delivery', 'Babies',
       'Baby Accessories', 'Baby Boomers', 'Baby Safety', 'Banking',
       'Batteries', 'Beauty', 'Bicycles', 'Big Data', 'Big Data A0lytics',
       'Billing', 'Bio-Pharm', 'Biofuels', 'Bioinformatics',
       'Biomass Power Generation', 'Biometrics', 'Biotechnology',
       'Bitcoin', 'Blogging Platforms', 'Boating Industry',
       'BPO Services', 'Brand Marketing', 'Brewing',
       'Bridging Online and Offline', 'Broadcasting', 'Brokers',
       'Browser Extensions', 'Building Owners', 'Building Products',
       'Business A0lytics', 'Business Development',
       'Business Information Systems', 'Business Intelligence',
       'Business Productivity', 'Business Services', 'Business Travelers',
       'Cable', 'CAD', 'Call Center Automation', 'Can0bis', 'Carbon',
       'Career Ma0gement', 'Career Planning', 'Cars', 'Casual Games',
       'Celebrity', 'Certification Test', 'Charities', 'Charity',
       'Charter Schools', 'Chat', 'Chemicals', 'Child Care',
       'Chi0 Internet', 'Civil Engineers', 'Classifieds', 'Clean Energy',
       'Clean Technology', 'Clean Technology IT', 'Clinical Trials',
       'Cloud-Based Music', 'Cloud Computing', 'Cloud Data Services',
       'Cloud Infrastructure', 'Cloud Ma0gement', 'Cloud Security',
       'Coffee', 'Collaboration', 'Collaborative Consumption',
       'Collectibles', 'College Campuses', 'College Recruiting',
       'Colleges', 'Comics', 'Commercial Real Estate', 'Commercial Solar',
       'Commodities', 'Communications Hardware',
       'Communications Infrastructure', 'Communities',
       'Comparison Shopping', 'Computer Vision', 'Computers',
       'Concentrated Solar Power', 'Concerts', 'Console Gaming',
       'Construction', 'Consulting', 'Consumer Behavior',
       'Consumer Electronics', 'Consumer Goods', 'Consumer Internet',
       'Consumer Lending', 'Consumers', 'Contact Centers',
       'Contact Ma0gement', 'Content', 'Content Creators',
       'Content Delivery', 'Content Discovery', 'Content Syndication',
       'Contests', 'Cooking', 'Corporate IT', 'Corporate Training',
       'Corporate Wellness', 'Cosmetic Surgery', 'Cosmetics', 'Coupons',
       'Coworking', 'Craft Beer', 'Creative', 'Creative Industries',
       'Credit', 'Credit Cards', 'CRM', 'Crowdfunding', 'Crowdsourcing',
       'Curated Web', 'Custom Retail', 'Customer Service',
       'Customer Support Tools', 'Cyber', 'Cyber Security',
       'Data Center Automation', 'Data Center Infrastructure',
       'Data Centers', 'Data Integration', 'Data Mining', 'Data Privacy',
       'Data Security', 'Data Visualization', 'Databases',
       'Debt Collecting', 'Defense', 'Delivery', 'Demographies', 'Dental',
       'Design', 'Designers', 'Developer APIs', 'Developer Tools',
       'Development Platforms', 'Diabetes', 'Diagnostics',
       'Dietary Supplements', 'Digital Entertainment', 'Digital Media',
       'Digital Rights Ma0gement', 'Digital Sig0ge', 'Direct Advertising',
       'Direct Marketing', 'Direct Sales', 'Discounts', 'Displays',
       'Disruptive Models', 'Distribution', 'Distributors', 'DIY',
       'Doctors', 'Document Ma0gement', 'DOD/Military', 'Domains',
       'Drones', 'E-Books', 'E-Commerce', 'E-Commerce Platforms',
       'Early-Stage Technology', 'EBooks', 'EDA Tools', 'Ediscovery',
       'EdTech', 'Education', 'Educatio0l Games', 'Edutainment',
       'Elder Care', 'Electric Vehicles', 'Electrical Distribution',
       'Electronic Health Records', 'Electronics', 'Email',
       'Email Marketing', 'Email Newsletters',
       'Embedded Hardware and Software', 'Emerging Markets',
       'Employer Benefits Programs', 'Employment', 'Energy',
       'Energy Efficiency', 'Energy IT', 'Energy Ma0gement',
       'Energy Storage', 'Engineering Firms', 'Enterprise 2.0',
       'Enterprise Application', 'Enterprise Purchasing',
       'Enterprise Resource Planning', 'Enterprise Search',
       'Enterprise Security', 'Enterprise Software', 'Enterprises',
       'Entertainment', 'Entertainment Industry', 'Entrepreneur',
       'Environmental Innovation', 'Estimation and Quoting',
       'Event Ma0gement', 'Events', 'Exercise', 'Eyewear',
       'Face Recognition', 'Facebook Applications', 'Families',
       'Fantasy Sports', 'Farmers Market', 'Farming', 'Fashion',
       'Fertility', 'Field Support Services', 'File Sharing', 'Film',
       'Film Distribution', 'Film Production', 'Fi0nce',
       'Fi0nce Technology', 'Fi0ncial Exchanges', 'Fi0ncial Services',
       'FinTech', 'Fitness', 'Flash Sales', 'Flash Storage',
       'Fleet Ma0gement', 'Flowers', 'Fmcg', 'Food Processing', 'Forums',
       'Fraud Detection', 'Freelancers', 'Freemium', 'FreetoPlay Gaming',
       'Fruit', 'Fuel Cells', 'Fuels', 'Funeral Industry', 'Furniture',
       'Gadget', 'Gambling', 'Game', 'Game Mechanics', 'Games',
       'Gamification', 'Gas', 'Gay & Lesbian', 'General Public Worldwide',
       'Genetic Testing', 'Geospatial', 'Gift Card', 'Gift Exchange',
       'Gift Registries', 'Gold', 'Gover0nce', 'Government Innovation',
       'Governments', 'Gps', 'Graphics', 'Green', 'Green Consumer Goods',
       'Groceries', 'Group Buying', 'Group SMS', 'Guides', 'Handmade',
       'Hardware', 'Hardware + Software', 'Health and Insurance',
       'Health and Wellness', 'Health Care',
       'Health Care Information Technology', 'Health Diagnostics',
       'Health Services Industry', 'Healthcare Services',
       'Heavy Industry', 'Hedge Funds', 'High School Students',
       'High Schools', 'High Tech', 'Home & Garden', 'Home Automation',
       'Home Decor', 'Home Owners', 'Home Renovation',
       'Homeland Security', 'Homeless Shelter', 'Hospitality',
       'Hospitals', 'Hotels', 'Human Computer Interaction',
       'Human Resource Automation', 'Human Resources', 'Humanitarian',
       'IaaS', 'ICT', 'Identity', 'Identity Ma0gement',
       'Image Recognition', 'Impact Investing', 'In-Flight Entertainment',
       'Incentives', 'Incubators', 'Independent Music Labels',
       'Independent Pharmacies', 'Indians', 'Indoor Positioning',
       'Industrial', 'Industrial Automation', 'Information Security',
       'Information Services', 'Information Technology', 'Infrastructure',
       'Innovation Engineering', 'Innovation Ma0gement', 'Insurance',
       'Intellectual Asset Ma0gement', 'Intellectual Property',
       'Intelligent Systems', 'Interest Graph', 'Interface Design',
       'Interior Design', 'Internet', 'Internet Infrastructure',
       'Internet Marketing', 'Internet of Things',
       'Internet Radio Market', 'Internet Service Providers',
       'Investment Ma0gement', 'iOS', 'iPad', 'iPhone',
       'IT and Cybersecurity', 'IT Ma0gement', 'Jewelry', 'Jour0lism',
       'K-12 Education', 'Kids', 'Knowledge Ma0gement', 'Landscaping',
       'Language Learning', 'Lasers', 'Law Enforcement',
       'Lead Generation', 'Lead Ma0gement', 'Legal', 'Leisure',
       'Licensing', 'Life Sciences', 'Lifestyle', 'Lifestyle Businesses',
       'Lifestyle Products', 'Lighting', 'Limousines', 'Linux', 'Local',
       'Local Advertising', 'Local Based Services', 'Local Businesses',
       'Local Commerce', 'Local Search', 'Location Based Services',
       'Logistics', 'Logistics Company', 'Lotteries', 'Low Bid Auctions',
       'Loyalty Programs', 'M2M', 'Machine Learning', 'Manufacturing',
       'Maps', 'Market Research', 'Marketing Automation', 'Marketplaces',
       'Mass Customization', 'Match-Making', 'Material Science',
       'Mechanical Solutions', 'Media', 'Medical', 'Medical Devices',
       'Medical Professio0ls', 'Meeting Software', 'Mens Specific',
       'Messaging', 'mHealth', 'Micro-Enterprises', 'MicroBlogging',
       'Minerals', 'Mining Technologies', 'Mobile', 'Mobile Advertising',
       'Mobile A0lytics', 'Mobile Commerce', 'Mobile Devices',
       'Mobile Enterprise', 'Mobile Games', 'Mobile Health',
       'Mobile Infrastructure', 'Mobile Payments', 'Mobile Security',
       'Mobile Shopping', 'Mobile Social', 'Mobile Software Tools',
       'Mobile Video', 'Mobility', 'Monetization', 'Moneymaking',
       'Multi-level Marketing', 'Music', 'Music Education',
       'Music Services', 'Music Venues', 'Musical Instruments',
       'Musicians', '0notechnology', '0tural Language Processing',
       '0tural Resources', '0vigation', 'Network Security', 'Networking',
       'Neuroscience', 'New Product Development', 'New Technologies',
       'News', 'Non-Tech', 'Non Profit', 'Nonprofits', 'Nutrition',
       'Office Space', 'Oil', 'Oil & Gas', 'Oil and Gas', 'Online Dating',
       'Online Education', 'Online Gaming', 'Online Identity',
       'Online Rental', 'Online Reservations', 'Online Scheduling',
       'Online Shopping', 'Online Travel', 'Online Video Advertising',
       'Open Source', 'Opinions', 'Optical Communications',
       'Optimization', 'Organic', 'Organic Food', 'Outdoors',
       'Outsourcing', 'P2P Money Transfer', 'PaaS', 'Parenting',
       'Parking', 'Payments', 'Peer-to-Peer', 'Performance Marketing',
       'Perso0l Branding', 'Perso0l Data', 'Perso0l Fi0nce',
       'Perso0l Health', 'Perso0lization', 'Pervasive Computing', 'Pets',
       'Pharmaceuticals', 'Photo Editing', 'Photo Sharing', 'Photography',
       'Physical Security', 'Physicians', 'Plumbers', 'Point of Sale',
       'Politics', 'Polling', 'Portals', 'Postal and Courier Services',
       'Pre Seed', 'Predictive A0lytics', 'Presentations',
       'Price Comparison', 'Printing', 'Privacy', 'Private School',
       'Private Social Networking', 'Procurement', 'Product Design',
       'Product Development Services', 'Productivity',
       'Productivity Software', 'Professio0l Networking',
       'Professio0l Services', 'Project Ma0gement', 'Promotio0l',
       'Property Ma0gement', 'Public Relations', 'Public Safety',
       'Public Transportation', 'Publishing', 'Q&A', 'QR Codes',
       'Real Estate', 'Real Time', 'Realtors', 'Recreation', 'Recruiting',
       'Recycling', 'Religion', 'Renewable Energies', 'Renewable Tech',
       'Rental Housing', 'Reputation', 'Resorts', 'Restaurants', 'Retail',
       'Retail Technology', 'Reviews and Recommendations', 'RFID',
       'Ride Sharing', 'Risk Ma0gement', 'Robotics', 'SaaS',
       'Sales and Marketing', 'Sales Automation', 'Search',
       'Search Marketing', 'Security',
       'Semiconductor Manufacturing Equipment', 'Semiconductors',
       'Senior Citizens', 'Senior Health', 'Sensors', 'SEO',
       'Service Industries', 'Service Providers', 'Services', 'SexTech',
       'Shared Services', 'Shipping', 'Shoes', 'Shopping', 'Simulation',
       'Skill Assessment', 'Small and Medium Businesses', 'Smart Grid',
       'SNS', 'Soccer', 'Social + Mobile + Local', 'Social Bookmarking',
       'Social Business', 'Social Buying', 'Social Commerce',
       'Social CRM', 'Social Fundraising', 'Social Games', 'Social Media',
       'Social Media Ma0gement', 'Social Media Marketing',
       'Social Media Platforms', 'Social Network Media', 'Social News',
       'Social Recruiting', 'Social Television', 'Social Travel',
       'Software', 'Solar', 'Space Travel', 'Specialty Chemicals',
       'Specialty Foods', 'Speech Recognition', 'Sporting Goods',
       'Sports', 'Staffing Firms', 'Startups', 'Stock Exchanges',
       'Storage', 'Subscription Service', 'Supply Chain Ma0gement',
       'Surveys', 'Synchronization', 'Systems', 'Task Ma0gement', 'Taxis',
       'Tea', 'Technology', 'Telecommunications', 'Television',
       'Textiles', 'Theatre', 'Therapeutics', 'Ticketing', 'Tourism',
       'Tracking', 'Trading', 'Training', 'Translation', 'Transportation',
       'Travel', 'Travel & Tourism', 'Universities',
       'University Students', 'Unmanned Air Systems', 'Usability',
       'User Experience Design', 'User Interface', 'Utilities',
       'Vending and Concessions', 'Venture Capital', 'Veteri0ry', 'Video',
       'Video Conferencing', 'Video Games', 'Video on Demand',
       'Video Streaming', 'Virtual Workforces', 'VoIP', 'Waste Ma0gement',
       'Watch', 'Water', 'Water Purification', 'Wearables',
       'Web Browsers', 'Web Design', 'Web Development', 'Web Hosting',
       'Web Tools', 'Weddings', 'Wholesale', 'Wine And Spirits',
       'Wireless', 'Women', 'Young Adults'], dtype=object)

In [144]:
m["category_list"]=m["category_list"].str.replace("0","na")

In [145]:
m.head()

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,NaN,0,1,0,0,0,0,0,0,0
1,3D,0,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,0,1

In [146]:
melt_df = pd.melt(m,id_vars="category_list",value_name="value")
melt_df

         category_list                                 variable  value
0                  NaN                      Automotive & Sports      0
1                   3D                      Automotive & Sports      0
2          3D Printing                      Automotive & Sports      0
3        3D Technology                      Automotive & Sports      0
4           Accounting                      Automotive & Sports      0
...                ...                                      ...    ...
6187         Wholesale  Social, Finance, Analytics, Advertising      0
6188  Wine And Spirits  Social, Finance, Analytics, Advertising      0
6189          Wireless  Social, Finance, Analytics, Advertising      0
6190             Women  Social, Finance, Analytics, Advertising      0
6191      Young Adults  Social, Finance, Analytics, Advertising      0

[6192 rows x 3 columns]

In [148]:
melt_df1 = melt_df[melt_df['value']==1]
melt_df1

          category_list                                 variable  value
8      Adventure Travel                      Automotive & Sports      1
14            Aerospace                      Automotive & Sports      1
45                 Auto                      Automotive & Sports      1
46      Automated Kiosk                      Automotive & Sports      1
47           Automotive                      Automotive & Sports      1
...                 ...                                      ...    ...
6121  Social Recruiting  Social, Finance, Analytics, Advertising      1
6122  Social Television  Social, Finance, Analytics, Advertising      1
6123      Social Travel  Social, Finance, Analytics, Advertising      1
6134    Stock Exchanges  Social, Finance, Analytics, Advertising      1
6167    Venture Capital  Social, Finance, Analytics, Advertising      1

[688 rows x 3 columns]

### 2. Use the mapping file 'mapping.csv' to map each primary sector to one of the eight main sectors (Note that ‘Others’ is also considered one of the main sectors)

In [149]:
master_frame["category_list"] = master_frame["category_list"].apply(lambda x:x.split('|')[0])

In [151]:
master_frame.head()

,permalink,name,category_list,country_code,funding_round_permalink,funding_round_type,raised_amount_usd
0,organizationfame,#fame,Media,IND,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,10000000.0
2,organizationqounter,:Qounter,Application Platforms,USA,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,700000.0
4,organization06com,0-6.com,Curated Web,CHN,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,2000000.0
6,organization01gamestechnology,01Games Technology,Games,HKG,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,41250.0
7,organization0ndinebiomedicalinc,Ondine Biomedical Inc.,Biotechnology,CAN,/funding-round/2b9d3ac293d5cdccbecff5c8cb0f327d,seed,43360.0

In [157]:
final = pd.merge(master_frame,melt_df1, on="category_list")
final.head()

,permalink,name,category_list,country_code,funding_round_permalink,funding_round_type,raised_amount_usd,variable,value
0,organizationfame,#fame,Media,IND,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,10000000.0,Entertainment,1
1,organization90min,90min,Media,GBR,/funding-round/21a2cbf6f2fb2a1c2a61e04bf930dfe6,venture,15000000.0,Entertainment,1
2,organization90min,90min,Media,GBR,/funding-round/bd626ed022f5c66574b1afe234f3c90d,venture,5800000.0,Entertainment,1
3,organization90min,90min,Media,GBR,/funding-round/fd4b15e8c97ee2ffc0acccdbe1a98810,venture,18000000.0,Entertainment,1
4,organizationadanceforme,A Dance for Me,Media,USA,/funding-round/9ab9dbd17bf010c79d8415b2c22be6fa,equity_crowdfunding,1090000.0,Entertainment,1

In [160]:
final.shape

(88377, 9)

# Checkpoint 5: Sector Analysis 2

In [168]:
df1 = final[(final['funding_round_type']=='venture')]

In [179]:
code  # english[english['Primary language?'].str.startswith('Yes')].head(3).reset_index()

,permalink,name,category_list,ISO code,funding_round_permalink,funding_round_type,raised_amount_usd,Country,Geographic region,Population1,Primary language?
0,organizationfame,#fame,Media,IND,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,10000000.0,India[3][6],Asia,1393500000,No (but official and educational)
1,organization21diamondsindia,21Diamonds,E-Commerce,IND,/funding-round/6de7ffef8091ba9f33821f4b861f434a,venture,6369507.0,India[3][6],Asia,1393500000,No (but official and educational)
2,organization247learningprivate,24x7 Learning,EdTech,IND,/funding-round/4cd5cd165bc869bc40705a9e4b626bee,venture,4000000.0,India[3][6],Asia,1393500000,No (but official and educational)
3,organization33coupons,33Coupons,Internet,IND,/funding-round/fc7f4eba112e0df25e9a56b037657820,angel,20000.0,India[3][6],Asia,1393500000,No (but official and educational)
4,organization3dsoc,3DSoC,3D,IND,/funding-round/bbedf1410fddeed341018583bbd0ca1e,venture,1240000.0,India[3][6],Asia,1393500000,No (but official and educational)
...,...,...,...,...,...,...,...,...,...,...,...
73228,organizationorderbook,Orderbook,Bitcoin,DMA,/funding-round/51f3fb65bb7a71891c1dc6b26025cfc9,angel,100000.0,Dominica[1],Caribbean,73000,Yes (French-based creole language)
73229,organizationplanneddeparture,Planned Departure,Digital Media,BLZ,/funding-round/dbda967ab29515ac2ac191e7266a1b0d,equity_crowdfunding,196615.0,Belize[3],Central America,288000,Yes (English-based creole language)
73230,organizationpornhub,Pornhub,Sex Industry,BLZ,/funding-round/3687f5e79f2773922bda9d4c2bc1f53e,equity_crowdfunding,4299.0,Belize[3],Central America,288000,Yes (English-based creole language)
73231,organizationstgeorgesuniversity,St. George's University,Colleges,GRD,/funding-round/9c2fb34fc442085634469fada2ddcc13,private_equity,750000000.0,Grenada[1],Caribbean,111000,Yes (English-based creole language)
73232,organizationunyqe,Unyqe,Apps,SYC,/funding-round/4bed8ef9d7a4c5e3f9c08dfe38872401,seed,35000.0,Seychelles[1],Africa / Indian Ocean,87000,No

In [204]:
#code1 = code[code['Primary language?'].str.startswith('Yes')]
code["Primary language?"] = code["Primary language?"].apply(lambda x:x.split("(")[0])
code

,permalink,name,category_list,ISO code,funding_round_permalink,funding_round_type,raised_amount_usd,Country,Geographic region,Population1,Primary language?
0,organizationfame,#fame,Media,IND,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,10000000.0,India[3][6],Asia,1393500000,No
1,organization21diamondsindia,21Diamonds,E-Commerce,IND,/funding-round/6de7ffef8091ba9f33821f4b861f434a,venture,6369507.0,India[3][6],Asia,1393500000,No
2,organization247learningprivate,24x7 Learning,EdTech,IND,/funding-round/4cd5cd165bc869bc40705a9e4b626bee,venture,4000000.0,India[3][6],Asia,1393500000,No
3,organization33coupons,33Coupons,Internet,IND,/funding-round/fc7f4eba112e0df25e9a56b037657820,angel,20000.0,India[3][6],Asia,1393500000,No
4,organization3dsoc,3DSoC,3D,IND,/funding-round/bbedf1410fddeed341018583bbd0ca1e,venture,1240000.0,India[3][6],Asia,1393500000,No
...,...,...,...,...,...,...,...,...,...,...,...
73228,organizationorderbook,Orderbook,Bitcoin,DMA,/funding-round/51f3fb65bb7a71891c1dc6b26025cfc9,angel,100000.0,Dominica[1],Caribbean,73000,Yes
73229,organizationplanneddeparture,Planned Departure,Digital Media,BLZ,/funding-round/dbda967ab29515ac2ac191e7266a1b0d,equity_crowdfunding,196615.0,Belize[3],Central America,288000,Yes
73230,organizationpornhub,Pornhub,Sex Industry,BLZ,/funding-round/3687f5e79f2773922bda9d4c2bc1f53e,equity_crowdfunding,4299.0,Belize[3],Central America,288000,Yes
73231,organizationstgeorgesuniversity,St. George's University,Colleges,GRD,/funding-round/9c2fb34fc442085634469fada2ddcc13,private_equity,750000000.0,Grenada[1],Caribbean,111000,Yes
73232,organizationunyqe,Unyqe,Apps,SYC,/funding-round/4bed8ef9d7a4c5e3f9c08dfe38872401,seed,35000.0,Seychelles[1],Africa / Indian Ocean,87000,No

In [215]:
c1 = code[(code["ISO code"]=="USA")]
c2 = code[(code["ISO code"]=="GBR")]
c3 = code[(code["ISO code"]=="CAN")]

In [206]:
code.to_csv("C:\\Users\\HP\\Desktop\\L3\\remedial\\Spark Funds Industrial Assignment - 1\\stack_fund.csv")

### 1. Total number of investments (count)

In [223]:
print("Total number of investment in country 1 :",c1.shape[0])

Total number of investment in country 1 : 61791

In [224]:
print("Total number of investment in country 2 :",c2.shape[0])

Total number of investment in country 2 : 5004

In [225]:
print("Total number of investment in country 3 :",c3.shape[0])

Total number of investment in country 3 : 2603

### 2. Total amount of investment (USD))

In [230]:
print("Total amount of investment in  country 1 : ",round(c1["raised_amount_usd"].sum()/1000000,2),"M$")

Total amount of investment in  country 1 :  666635.3 M$

In [231]:
print("Total amount of investment in  country 2 : ",round(c2["raised_amount_usd"].sum()/1000000,2),"M$")

Total amount of investment in  country 2 :  32543.56 M$

In [232]:
print("Total amount of investment in  country 3 : ",round(c3["raised_amount_usd"].sum()/1000000,2),"M$")

Total amount of investment in  country 3 :  18319.08 M$

### 3. Top sector (based on count of investments)

In [238]:
c1.groupby(by="category_list")["raised_amount_usd"].count().sort_values(ascending=False).iloc[:1]

category_list
Biotechnology    8005
Name: raised_amount_usd, dtype: int64

In [239]:
c2.groupby(by="category_list")["raised_amount_usd"].count().sort_values(ascending=False).iloc[:1]

category_list
Biotechnology    414
Name: raised_amount_usd, dtype: int64

In [240]:
c3.groupby(by="category_list")["raised_amount_usd"].count().sort_values(ascending=False).iloc[:1]

category_list
Biotechnology    275
Name: raised_amount_usd, dtype: int64

### 4. Second-best sector (based on count of investments)

In [243]:
c1.groupby(by="category_list")["raised_amount_usd"].count().sort_values(ascending=False).iloc[1:2]

category_list
Software    4411
Name: raised_amount_usd, dtype: int64

In [244]:
c2.groupby(by="category_list")["raised_amount_usd"].count().sort_values(ascending=False).iloc[1:2]

category_list
Software    328
Name: raised_amount_usd, dtype: int64

In [245]:
c3.groupby(by="category_list")["raised_amount_usd"].count().sort_values(ascending=False).iloc[1:2]

category_list
Software    185
Name: raised_amount_usd, dtype: int64

### 5. Third-best sector (based on count of investments)

In [246]:
c1.groupby(by="category_list")["raised_amount_usd"].count().sort_values(ascending=False).iloc[2:3]

category_list
Advertising    2790
Name: raised_amount_usd, dtype: int64

In [247]:
c2.groupby(by="category_list")["raised_amount_usd"].count().sort_values(ascending=False).iloc[2:3]

category_list
E-Commerce    247
Name: raised_amount_usd, dtype: int64

In [248]:
c3.groupby(by="category_list")["raised_amount_usd"].count().sort_values(ascending=False).iloc[2:3]

category_list
Clean Technology    115
Name: raised_amount_usd, dtype: int64

### 6. Number of investments in the top sector (refer to point 3)

In [249]:
c1.groupby(by="category_list")["raised_amount_usd"].count().sort_values(ascending=False).iloc[:1]

category_list
Biotechnology    8005
Name: raised_amount_usd, dtype: int64

In [250]:
c2.groupby(by="category_list")["raised_amount_usd"].count().sort_values(ascending=False).iloc[:1]

category_list
Biotechnology    414
Name: raised_amount_usd, dtype: int64

In [251]:
c3.groupby(by="category_list")["raised_amount_usd"].count().sort_values(ascending=False).iloc[:1]

category_list
Biotechnology    275
Name: raised_amount_usd, dtype: int64

### 7 . Number of investments in the secondbest sector (refer to point 4)

In [252]:
c1.groupby(by="category_list")["raised_amount_usd"].count().sort_values(ascending=False).iloc[1:2]

category_list
Software    4411
Name: raised_amount_usd, dtype: int64

In [253]:
c2.groupby(by="category_list")["raised_amount_usd"].count().sort_values(ascending=False).iloc[1:2]

category_list
Software    328
Name: raised_amount_usd, dtype: int64

In [254]:
c3.groupby(by="category_list")["raised_amount_usd"].count().sort_values(ascending=False).iloc[1:2]

category_list
Software    185
Name: raised_amount_usd, dtype: int64

### 8. Number of investments in the third-best sector (refer to point 5)

In [255]:
c1.groupby(by="category_list")["raised_amount_usd"].count().sort_values(ascending=False).iloc[2:3]

category_list
Advertising    2790
Name: raised_amount_usd, dtype: int64

In [256]:
c2.groupby(by="category_list")["raised_amount_usd"].count().sort_values(ascending=False).iloc[2:3]

category_list
E-Commerce    247
Name: raised_amount_usd, dtype: int64

In [257]:
c3.groupby(by="category_list")["raised_amount_usd"].count().sort_values(ascending=False).iloc[2:3]

category_list
Clean Technology    115
Name: raised_amount_usd, dtype: int64

### 9. For the top sector count-wise (point 3), which company received the highest

In [265]:
c1.groupby(by=["name"])["raised_amount_usd"].sum().sort_values(ascending=False).iloc[:1]

name
Verizon Communications    3.007950e+10
Name: raised_amount_usd, dtype: float64

In [266]:
c2.groupby(by=["name"])["raised_amount_usd"].sum().sort_values(ascending=False).iloc[:1]

name
SoftViaNet    915000000.0
Name: raised_amount_usd, dtype: float64

In [267]:
c3.groupby(by=["name"])["raised_amount_usd"].sum().sort_values(ascending=False).iloc[:1]

name
BlackBerry    1.000000e+09
Name: raised_amount_usd, dtype: float64

### 10. For the second-best sector count-wise (point 4), which company received the highest investment?

In [268]:
c1.groupby(by=["name"])["raised_amount_usd"].sum().sort_values(ascending=False).iloc[1:2]

name
Freescale Semiconductor    1.760000e+10
Name: raised_amount_usd, dtype: float64

In [269]:
c2.groupby(by=["name"])["raised_amount_usd"].sum().sort_values(ascending=False).iloc[1:2]

name
Helios Towers Africa    630000000.0
Name: raised_amount_usd, dtype: float64

In [270]:
c3.groupby(by=["name"])["raised_amount_usd"].sum().sort_values(ascending=False).iloc[1:2]

name
WSP Global    486000000.0
Name: raised_amount_usd, dtype: float64